body{

background-color: #469FBC;

}
#str1{
	color:#FFFFFF;
}
#str2{
	color:#F2CB76;
}
#str3{
	color:#75D87D;
}
#str4{
	color:#285E6F;
}

#inp{
	width:300px;
	border-radius:5px;
	color:#7E8890;
	font-weight: bold;
}
